.page {
  display: flex;
  flex-direction: column;
  width: min(100%, 1400px);
  margin-inline: auto;
  border: 1px solid var(--border);
  border-top: none;
  min-height: 100dvh;
  --spacing: 1.5rem;

  section,
  header,
  footer {
    padding: var(--spacing);
  }

  main {
    padding: 0;
    flex-grow: 1;
  }

  header h1 {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-size: 4rem;
  }

  header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  header {
    border-bottom: 1px solid var(--border);
  }

  main > div {
    border-bottom: 1px solid var(--border);
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border);

    span + span {
      color: var(--foregroundMuted);
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
}
