section {
  border-bottom: 1px solid var(--border);

  & > & + & {
    border-left: 1px solid var(--border);
  }

  & > & {
    border-bottom: none;
  }
}

p {
  color: var(--foregroundMuted);
}

.card {
  padding: 0 !important;
  border: 1px solid var(--border);
}

.dualGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
